<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find motoman_mh12_support)/urdf/mh12_macro.xacro"/>
<xacro:macro name="motoman_mh12_g" params="prefix">

  <!-- get base ABB IRB120 model -->
  <xacro:motoman_mh12 prefix="${prefix}"/>

  <!-- transmission list -->
  <transmission name="${prefix}tran_s">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_s">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor_s">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran_l">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_l">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor_l">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran_u">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_u">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor_u">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran_r">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_r">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor_r">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran_b">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_b">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor_b">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="${prefix}tran_t">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}joint_t">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}motor_t">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- gazebo-specific link properties -->
  <gazebo reference="${prefix}base_link">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}link_s">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}link_l">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}link_u">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}link_b">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}link_r">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}link_t">
    <material>Gazebo/Blue</material>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>
  <gazebo reference="${prefix}tool0">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>  
  </gazebo>  
</xacro:macro>
</robot>
